<!DOCTYPE html>
<!-- xmls:layout indicamos que esta plantilla va  a ser heredad-->
<html 
xmlns:th="http://www.thymeleaf.org"
xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="es-ES">
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="icon" href="/static/images/faviconyr.png">

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquileres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="d-flex">

        <header  th:replace="~{admin/layout/components/MenuAdmin :: MenuAdmin}">
            
        </header> 
        
        <main layout:fragment="content">

        </main>
            
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>        
</body>
</html>